<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details zu Mapping Eintrag {{ id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <label >
                            ID: {{ mapping.id }}
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            RFID: {{ mapping.rfid }}
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Local Path: {{ mapping.localPath }}
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            LMS Path: {{ mapping.lmsPath }}
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Zusatzinformation: {{ mapping.additionalInformation }}
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Medien Typ: {{ mapping.mediaType }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>