body {
    background-color: whitesmoke;
}

.row-options {
    opacity: 1;
}

.row-options:hover {
    opacity: 1;
}

.option-icon {
    margin: 5px;
    opacity: 1;
    cursor: pointer;
}

.option-icon:hover {
    opacity: 1;
}

.dropdown li {
    list-style: none;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.new-client-entry,
.new-mapping-entry,
.edit-client-entry {
    cursor: pointer;
}
